@media screen and (max-width: 760px){
    header, main{
        flex-direction: column;
    }
    header, ul, aside{
        text-align: center;
    }

    h2{
        font-size: 38px;
    }

    form{
        margin: 0 auto;
        width: 100%;
    }

    input{
        align-self: center;
    }

    img{
        display: none;
    }

    ul{
        padding: 0;
    }
}

@media screen and (max-width: 375px){
    h2{
        font-size: 34px;
    }
}